* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    display: flex;
    flex-direction: column;
    background-color: rgb(7, 7, 18);
    color: white;
    font-family:  Helvetica, Arial, sans-serif;
}

h1 {
    padding: 10px;
}

.topnav {
    display: flex;
    flex-direction: row;
    background-color: #333;
    align-items: center;
    justify-content: space-around;
}
.leftnav img {
    display: block;
    height: 3.5rem;
    width: 3.5rem;

}
.rightnav a {
    display: inline-block;
    color: #f2f2f2;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1.75rem;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* .topnav a.active {
    background-color: #ddd;
    color: black;
} */
h1 {
    font-size: 3.0em;
}
.topnav {
    position: sticky;
    top: 0px;
}
.content {
    text-align: center;
    margin: 16px 50px 16px 50px;
}
.footer {
    clear: both;
    padding: 3rem;
    color: dimgray;
    text-align: center;
}

/* a:link {
    color: darkorchid;
}

a:visited {
    color: mediumpurple;
} */