* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(90deg, rgb(7, 7, 18) 0%, rgb(101, 28, 191) 100%); */
    background-color: rgb(7, 7, 18);
    color: whitesmoke;
    font-family: 'Play',
    Arial,
    sans-serif;
    height: 101vh;

}
.topNav {
    display: flex;
    flex-direction: row;
    background-color: #333;
    align-items: center;
    justify-content: space-around;
}
.leftNav a {
    display: flex;
    align-items: flex-end;
    color: #f2f2f2;
    font-size: 1em;
    text-decoration: none;
}
.leftNav img {
    display: block;
    height: 2.5em;
    width: 2.5em;
}
.rightNav li {
    display: inline-block;
}
.rightNav li > a {
    display: inline-block;
    /* list-style-type: none; */
    color: #f2f2f2;
    font-size: 1em;
    text-decoration: none;
    padding: 1.25em 1em 1em 1em;
}
.rightNav a:hover {
    background-color: #ddd;
    color: black;
}
/* .topNav a.active {
    background-color: #ddd;
    color: black;
} */
.topNav {
    position: sticky;
    top: 0px;
}
.content {
    text-align: center;
    margin: 16px 50px 16px 50px;
}
.footer {
    clear: both;
    padding: 3em;
    color: dimgray;
    text-align: center;
}

.tierpost-data {
    padding: 12px;
}

.tierpost-data-option {
    padding: 12px;
    background-color: #555;
    margin: 8px;
}

.tier-ranking-box {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.tier-ranking-box-S {
    background-color: red;
}
.tier-ranking-box-A {
    background-color: orange;
}
.tier-ranking-box-B {
    background-color: yellow;
}
.tier-ranking-box-C {
    background-color: lightgreen;
}
.tier-ranking-box-D {
    background-color: cadetblue;
}
.tier-ranking-box-E {
    background-color: purple;
}
.tier-ranking-box-F {
    background-color: violet;
}

.tier-ranking-upvote {
    height: 32px;
    width: 32px;
    background-color: lawngreen;
}

.tier-ranking-downvote {
    height: 32px;
    width: 32px;
    background-color: red;
}



/* a:link {
    color: darkorchid;
}

a:visited {
    color: mediumpurple;
} */