
label {
    text-align: center;
    font-size: 1.25em;
}

input {
    background: whitesmoke;
    font-family: 'Play',
        sans-serif;
    font-size: .9em;
    padding: .5em;
    margin-top: 1em;
    
    width: 50%;
    min-width: 100px;
    
    height: 2%;
    min-height: 30px;
    
    border: none;
    text-align: center;
    
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button {
    background: whitesmoke;
    font-family: 'Play',
        sans-serif;
    font-size: 1em;
    padding: .5em;
    border-radius: 2em;
    border: none;
    
    width: 50%;
    min-width: 100px;
    height: 2%;
    min-height: 30px;
}

button:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.30);
}

.tierform {
    font-family: 'Play',
        sans-serif;
    margin: 50px;

    color: whitesmoke;
    height: 90%;
    text-align:center;
    align-content: center;
}