* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    padding: 20px 0px 10px 0px;
}
.sort{
    text-align: right;
    margin: 0px 150px 0px 150px;
}
.sortBy {
    font-family: 'Play',
        sans-serif;
    font-size: 1em;
    padding: .5em;
    margin: 1em .5em .5em .5em;
    border-radius: 2em;
    min-width: 50px;
    border: none;
}
#abouttext {
    padding: 10px 20% 10px 20%;
}
button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.30);
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
