#container {
    align-self: center;
    margin: auto;
    padding: 1em 2em;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 20em;
    border-radius: .5em;
    font-size: 2em;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login h1 {
    color: rgb(72, 39, 133);
    /* padding: 1em 0; */
    align-self: center;
}
.login .logo {
    height: 3em;
    width: 3em;
    margin: 1em;
}
.field {
    padding-top: 2em;
}
input {
    font-size: 1em;
    outline: none;
    border-width: 0 0 2px;
    padding: 5px 5px;
    width: 100%;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.6s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
}
::placeholder {
    font-family: 'Play',
        sans-serif;
}
.buttons {
    padding: 3em 0 2em 0;
}
button {
    font-family: 'Play',
        sans-serif;
    font-size: 1em;
    padding: .5em;
    margin-top: .5em;
    border-radius: 2em;
    width: 100%;
    border: none;
}
button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.30);
}
#registerBtn {
    background-color: rgb(101, 28, 191);
    color: white;
}